*{
  margin: 0px;
  padding: 0px;
}
.App {
  text-align: center;
}

.underline{
  height:5px;
  width:80px;
  border-radius:4px;
  background-color: brown;
}
.sub-underline{
  height:5px;
  width:80px;
  border-radius:4px;
  background-color: rgb(88, 241, 74);
}
.sect-bg{
  background-color: aliceblue;
}